hr { border-top: 1px solid #AAAAAA; }

.text-mini { font-size: 0.6em; color: #AAAAAA;}
.text-bolder { font-weight: bolder; font-size: 11pt; }
.text-product { font-weight: bold; font-size: 1.2em; }
.text-hot { font-weight: bolder; }
.text-new { font-weight: bolder; }
.text-info { font-weight: bolder; font-size: 1.2em; }
.topbanner { position: relative; text-align: center; border: 1px solid gray; box-shadow:  0px 3px 5px 1px gray; }
.topbanner-text { 
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); 
}
.tabs-slide { text-align: center; box-shadow:  0px 1px 5px 1px #AAAAAA; }
.tabs-slide > img { width: 80%; }
.mainhot { box-shadow:  0px 1px 5px 1px #AAAAAA; }
.mainhot > img { margin-left: 20px; margin-top: 5px;}
.mainhot > .ui-block { text-align: center; }
.mainnew { box-shadow:  0px 1px 5px 1px #AAAAAA; }
.mainnew > .ui-block { text-align: center; }

.grid-hot { margin-top: 15px;}
.show-img > figure { margin-left:10px; text-align: center; }
.show-content > table { table-layout: fixed; width: 100%; }
.show-btn { text-align: center; }
.text-price { font-size: 1.2em; color: #ff4123; }

.table-info { border: 1px solid #E4E4E4; border-spacing: 0px; border-collapse: collapse; width:100%; vertical-align: top }
.table-info tr td { border-bottom: 1px solid #DDDDDD; padding-left: 10px; }
.table-info tr td:nth-child(odd) { background-color: #E4E4E4; font-weight: bolder}
.table-info tr td:nth-child(1) { width: 150px; }

a { text-decoration: none; color:black; }
a:link { color: black; }
a:visited { color: black; }